<form class="betting-form">
  <h1>yeah <%- data.name %>, bet those ponies</h1>
  
  <div class="horse" data-name="california-chrome">
    <h2>California Chrome</h2>
    <h4>season ranking: 1</h4>
    <h4>season points: 150</h4>
    
    <img src="http://static.kentuckyderby.com/sites/kentuckyderby.com/files/imagecache/content_full/images/primary/californiachrome3-8-sm_0.jpg">
    
    <div>
      <button class="increase">+ $1</button>
      <button class="decrease">- $1</button>
    </div>
    
    <h1>your bet: <span class="bet-amount">$0</span></h1>
    
    <input type="hidden" name="california-chrome" value="0">
  </div>
  
  <hr>
  
  <h1>cough it up: <span class="total-bet">$0</span></h1>
    
  <input type="hidden" name="bettor-name" value="<%- data.name %>">
  <input type="hidden" name="bettor-total">
  
  <button class="finish-betting" type="submit">done!</button>
</form>