<form class="betting-form">
  <h1>yeah <%- data.name %>, bet those ponies</h1>
  
  <button>+ $1</button>
  <button>- $1</button>
  
  <input type="hidden" name="bettor-name" value="<%- data.name %>">
  <button class="finish-betting" type="submit">done!</button>
</form>